bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.dotNetWebApiTranslation/.idea/.gitignore
/.idea/.idea.dotNetWebApiTranslation/.idea/encodings.xml
/.idea/.idea.dotNetWebApiTranslation/.idea/indexLayout.xml
/.idea/.idea.dotNetWebApiTranslation/.idea/vcs.xml
